$widthSidebar: 200px;
$dark-color: #000;

.container {
  .title-container {
    height: 15vh;
    position: relative;
    h2 {
      position: absolute;
      top: 50%; left: 50%; /* à 50%/50% du parent référent */
      transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .rempalcement-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: overlay;
  }
}

.btn {
  margin-bottom: 10px;
  padding: 15px;
  border: none;
}

.btn-prev {
  background: none;
}

.btn-now {
  background-color: #d1ecfa;
  position: absolute;
  left: 0;
  margin-left: 30px;
}

.relative {
  position: relative;
  .check {
    position: absolute;
    bottom: 1px;
    left: 1px;
  }
}

.date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: $dark-color;
  .actual-date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 2em;
    font-weight: bold;
  }

  .actual-hours {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }
}

.family-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  > div {
    width: 100%;
    font-weight: bold;
    color: $dark-color;
  }

  .slot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    text-align: center;

    > div {
      margin-bottom: 10px;
    }

    .day-1 {
      display: flex;
      flex-direction: row;
      align-content: space-between;
      justify-content: center;

      .day-2 {
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: center;
      }
    }

  }
  .circle-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid 2px $dark-color;
    color: $dark-color;;
    padding: 10px;
    &.replacement {
      border: none;
    }
    &.flying-perm {
      border: dashed 2px $dark-color;
      padding-top: 15px;
    }
  }



  .legend-circle {
    margin-top: 10px;
    font-size: 1.5em;
  }
}
