$widthSidebar: 200px;
$heightMenu: 60px;

md-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: $heightMenu;
  width: 100%;
  vertical-align: middle;

  .current {
  	border-bottom: #000000 solid;
  }

  div {
    text-align: center;
    padding: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
    &:focus {
      outline: none;
    }
  }
}

.logo {
  background-color: #ffffff;
  text-align: center;
}
