<md-toolbar>
  <div class="logo">
    <img class="header-logo" src="assets/images/logo-creche.png">
  </div>
  <div [ngClass]="{'current': activateMenu === 0}" (click)="setActivateTab('permanence', 0)" [routerLink]="'/permanence'">Permanences</div>
  <div [ngClass]="{'current': activateMenu === 1}" (click)="setActivateTab('planning', 1)" [routerLink]="'/planning'">Planning</div>
  <div [ngClass]="{'current': activateMenu === 2}" (click)="setActivateTab('replacements', 2)" [routerLink]="'/replacements'">Remplacements</div>
  <div [ngClass]="{'current': activateMenu === 3}" (click)="setActivateTab('counter', 3)" [routerLink]="'/counter'">Compteurs</div>
  <div [ngClass]="{'current': activateMenu === 4}" (click)="setActivateTab('parameters', 4)" [routerLink]="'/parameters'">Paramètres</div>
</md-toolbar>
