<div class="container">
  <div class="title-container">
    <h2>Gestion des permanences</h2>
  </div>
  <div *ngIf="monthToClose" class="admin-container">
    <h3>Validation des permanences</h3>
    <div>
      <label>Choisir le mois:</label>
      <select [(ngModel)]="selectedMonth">
        <option *ngFor="let date of monthToClose" [ngValue]="date">
          {{date | date: 'LLLL yyyy':'':'fr'}}
        </option>
      </select>
      <button (click)="closeMonth()">Cl&ocirc;turer le mois</button>
    </div>
  </div>
</div>
