<div class="container">
  <div class="date-container">
    <div class="actual-date">{{ startDate | date: 'EEEE d MMMM'}}</div>
    <div class="actual-hours">De {{ startDate | date: 'shortTime'}} à {{ endDate | date: 'shortTime'}}</div>
  </div>
  <div class="family-container">
    <md-grid-list class="familygrid" cols="6" rowHeight="115px">
      <md-grid-tile
        *ngFor="let grid of familiesGrid"
        [colspan]="grid.cols"
        [rowspan]="grid.rows">
        <div fxLayout="column" fxLayoutAlign="space-around center" (click)="setFamilyToPermanence(grid.family)">
          <div>
            <img class="circle-img" src="{{grid.family.image.url}}">
          </div>
          <div class="legend-circle">{{grid.family.label}}</div>
        </div>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>


