
  <h2 mdDialogTitle>Choisir la permanence</h2>
  <div md-dialog-content>
    <div class="perm-container" fxLayout="row" fxLayoutAlign="space-around center" *ngFor="let perm of permanencesToReplace">
      <div fxLayout="column" fxLayoutAlign="center center" (click)="closeDialog(perm)">
        De {{perm.startDate | date: 'shortTime'}} à {{perm.endDate | date: 'shortTime'}}
        <div>
          <img class="circle-img" src="{{perm.originalFamilyImage}}">
        </div>
      </div>
    </div>
  </div>

