<div class="container">
  <div class="title-container">
    <h2>Remplacements &agrave; venir</h2>
  </div>
  <div class="title-list">
    <div>Perm' de</div>
    <div>Date</div>
    <div>Cr&eacute;neau</div>
    <div>Remplacer par</div>
    <div>Modifier</div>
  </div>
  <div class="family-container">
    <div class="content">
      <div class="replacement-table">
        <div class="replacement-list" [ngClass]="replacement.family.id == nobodyId ? 'toreplace' : ''" *ngFor="let replacement of replacements">
          <div>
            <img class="circle-img" src="assets/images/{{replacement.originalFamilyImage}}">
          </div>
          <div>{{ replacement.startDate | date: 'dd/MM/yyyy':'':'fr'}}</div>
          <div>De {{replacement.startDate | date: 'shortTime':'':'fr'}} &agrave; {{replacement.endDate | date: 'shortTime':'':'fr'}}</div>
          <div>
            <img class="circle-img" src="assets/images/{{replacement.family.image.url}}">
          </div>
          <div class="fa fa-pencil-square-o fa-2x" (click)="updatePermanence(replacement)"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="add-replacement">

    <form [formGroup]="replacementForm" novalidate>
      <div class="add-replacement-form">
        <h2>Nouvelle demande:</h2>
        <my-date-picker name="date" [placeholder]="'Choisir une date'" class="datepicker" formControlName="date" [locale]="'fr'" [options]="myDatePickerOptions"></my-date-picker>
        <select name="slot" formControlName="slot" class="select-slot">
          <option value=null>Choisir un cr&eacute;neau</option>
          <option value="0">De 07:45 &agrave; 10:45</option>
          <option value="1">De 10:00 &agrave; 13:00</option>
          <option value="2">De 15:30 &agrave; 18:30</option>
        </select>
        <button class="btn-validate" (click)="searchPermanence()" [disabled]="!replacementForm.valid">Valider</button>
      </div>
    </form>
  </div>
</div>
