<mat-toolbar>
  <div class="logo">
    <img class="circle-img" src="assets/images/logo-creche.png">
  </div>
  <div class="menu">
	  <div [routerLink]="'/permanence'" routerLinkActive="current">Permanences</div>
	  <div [routerLink]="'/planning'" routerLinkActive="current">Planning</div>
	  <div [routerLink]="'/replacements'" routerLinkActive="current">Remplacements</div>
	  <div [routerLink]="'/counter'" routerLinkActive="current">Compteurs</div>
	  <div [routerLink]="'/parameters'" routerLinkActive="current">Paramètres</div>
  </div>
</mat-toolbar>
