<div class="container">
  <div class="title-container">
    <h2>Décompte des permanences</h2>
  </div>
  <div class="family-container" *ngIf="familyCount.length === families.length-1" (window:resize)="onResize($event)">
    <mat-grid-list class="familygrid" [cols]="colNumber" [rowHeight]="140">
      <mat-grid-tile
        *ngFor="let grid of familyCount"
        [colspan]="1"
        [rowspan]="1">
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <div>
            <img class="circle-img" src="{{grid.family.image.url}}">
          </div>
          <div class="legend-circle bold">{{grid.count}}</div>
          <div class="legend-circle">{{grid.family.label}}</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
