$widthSidebar: 200px;
$dark-color: #000;

.container {
  .title-container {
    height: 15vh;
    position: relative;
    h2 {
      position: absolute;
      top: 50%; left: 50%; /* à 50%/50% du parent référent */
      transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
      font-size: 1.5em;
      font-weight: bold;

    }
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.familygrid {
  width: 100%;
}

.date-container {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $dark-color;
  .actual-date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 2em;
    font-weight: bold;
  }

  .actual-hours {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }
}

.family-container {
  //height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    width: 100%;
    font-weight: bold;
    color: $dark-color;
  }
  .circle-img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: solid 3px $dark-color;
    color: $dark-color;;
    padding: 10px;
  }

  .bold {
    font-weight: bold;
  }

  .legend-circle {
    margin-top: 10px;
    font-size: 0.8em;
    text-align: center;
  }
}
