$widthSidebar: 300px;
$dark-color: #000;

.container {
  padding-left: #{$widthSidebar + 25px};
  padding-right: 25px;
}
.title-container {
  height: 20vh;
  position: relative;
  h2 {
    position: absolute;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    font-size: 1.5em;
    font-weight: bold;

  }
}
.add-replacement {
  height: 10vh;
  border-top: solid #000000 2px;
  padding: 10px;

  h2 {
    font-size: 1.1em;
  }
  .datepicker {
    width: 200px;
  }
  select {
    font-size: 1.1em;
  }
  .select-slot {
    top: auto;
    bottom: 100%;
    border: 1px solid #CCC;
    border-radius: 4px;
    height: 34px;
    padding-left: 10px;
    color: #555;
  }

  .btn-validate {
    border-radius: 4px;
    padding: 6px 20px;
    background-color: #d1fadf;
    border: solid #CCC 1px;
    height: 34px;
    font-size: 1.1em;
  }
}

.family-container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: overlay;
  .content {
    height: 100%;
  }

  > div {
    width: 100%;
    font-weight: bold;
    color: $dark-color;
  }
  .toreplace {
    background-color: lightpink;
  }
  .replacement-list {
    padding-right: 10px;
    padding-left: 10px;
  }
  .title-list {
    margin-bottom: 15px;
  }
  .circle-img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: solid 2px $dark-color;
    color: $dark-color;;
    padding: 10px;
    background-color: #ffffff;
  }

  .legend-circle {
    margin-top: 10px;
    font-size: 1.5em;
  }
}
