<div class="container" *ngIf="havePermanence">
  <div class="date-container">
    <div class="actual-date">{{ startDate | date: 'EEEE d MMMM'}}</div>
    <div class="actual-hours">De {{ startDate | date: 'shortTime'}} à {{ endDate | date: 'shortTime'}}</div>
  </div>
  <div class="family-container">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="column" fxLayoutAlign="space-around center" *ngFor="let permanence of currentPermanence; let i = index" (click)="setPermanceToCheck(permanence, i)">
        <div>
          <img class="circle-img" src="{{permanence.family.image.url}}">
          <div class="fa fa-check fa-4x" *ngIf="permanence.status === 'DONE'"></div>
        </div>
        <div class="legend-circle">{{permanence.family.label}}</div>
      </div>
      <div [routerLink]="['/permanence/' + currentPermanence[0].id + '/replacement']" fxLayout="column" fxLayoutAlign="space-around center">
        <img class="circle-img" src="assets/images/remplacement.svg">
        <div class="legend-circle">Remplacement</div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="!havePermanence">
  <h1>Il n'y a pas de permanence en cours.</h1>
</div>


