$widthSidebar: 200px;
$dark-color: #000;

.container {
  padding-left: #{$widthSidebar + 25px};
  padding-right: 25px;
  h1 {
    text-align: center;
  }

  .title-container {
    height: 15vh;
    position: relative;
    h2 {
      position: absolute;
      top: 50%; left: 50%; /* à 50%/50% du parent référent */
      transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
      font-size: 1.5em;
      font-weight: bold;

    }
  }

  .validate-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .date-container {
      height: 20vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: $dark-color;;
      padding-top: 50px;
      .actual-date {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        text-align: center;
        margin: 0 0 10px 0;
        font-size: 2em;
        font-weight: bold;
      }

      .actual-hours {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
      }
    }

    .family-container {
      height: 60vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 80px;
      > div {
        width: 100%;
        font-weight: bold;
        color: $dark-color;
      }
      .titlePerm {
        text-align: center;
        margin-bottom: 30px;
        font-size: 1.5em;
        span {
          margin-bottom: 10px;
        }
        .hour {
          font-size: 1.2em;
        }
      }
      .circle-img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: solid 3px $dark-color;
        color: $dark-color;;
        padding: 10px;
      }

      .legend-circle {
        margin-top: 10px;
        font-size: 1.5em;
      }
    }
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
  .check {
    position: absolute;
    bottom: 1px;
    left: -5px;
  }
}

.btn {
  margin-bottom: 10px;
  padding: 15px;
  border: none;
}

.btn-prev {
  background: none;
}

.btn-now {
  background-color: #d1ecfa;
}
